html
    header
        link(rel="stylesheet", text="text/css", href="http://localhost:8000/styles/style.css")
        title Arena Pool Companion
        
    body
        div(id="optionsContainer") 
            h3(class="optionsHeader") Options
                
            a(class="optionsLink",href="http://localhost:8000/Create")
                img(class="optionsImg",id="create",src="http://localhost:8000/images/2ball.png",alt="Img N/A")
            strong(class="optionsTxt") Create
            
            a(class="optionsLink",href="http://localhost:8000/Join")
                img(class="optionsImg",id="join",src="http://localhost:8000/images/8ball.png",alt="Img N/A")
            strong(class="optionsTxt") Join
            
            a(class="optionsLink",href="http://localhost:8000/Standings")
                img(class="optionsImg",id="standings",src="http://localhost:8000/images/9ball.png",alt="Img N/A")
            strong(class="optionsTxt") Standings