
mixin option_circle(text,url)
    a(style="display:block",href=url)
        .optionsCircle
            p.optionsText=text

doctype html
html
    link(rel="stylesheet", href="stylesheets/style.css",type="text/css")
    head
        title Arena Pool Companion
        
    body.body
        center
            div.options 
                h3.optionsHeader Options
                a(href="http://localhost:8000/Create")
                    img#create.optionImg(src="assets/2ball.png")
                    p.optionsText Create
                a(href="http://localhost:8000/Join")
                    img#join.optionImg(src="assets/8ball.png")
                    p.optionsText Join
                a(href="http://localhost:8000/Standings")
                    img#create.optionImg(src="assets/9ball.png")
                    p.optionsText Standings