
mixin option_circle(text,url)
    a(style="display:block",href=url)
        .optionsCircle
            p.optionsText text

doctype html
html
    head
        title Arena Pool Companion
        style 
            include style.css
    body
        div.options 
            h3.optionsHeader Tournament
            +option_circle("Create","http://localhost:8000/Create")
            +option_circle("Standings","http://localhost:8000/Standings")
            +option_circle("Join","http://localhost:8000/Join")
    